* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
    font-family: 'Cookie', cursive;
}

#canvas1{
    border: .5px solid white;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 390px;
    height: 480px;
    padding: 5px;
}
p{
    text-align: center;
    font-size: 1.3rem;
    color: white;
    letter-spacing: 2px;
    margin-top: 5vh;
}
span{
    font-size: 2.5rem;
    color: white;
}

.sign{
    position: absolute;
    color: white;
    bottom: 5vh;
    right: 8vh;
    font-size: 0.8rem;
    font-family: 'Tomorrow', sans-serif;
}

